<div class="flex justify-between items-center">
  <div class="flex gap-2 items-center">
    <img src="logo.png" alt="LOGO"
         class="w-8 h-8"
    >
    <span class="font-sora font-bold">FLOWTASK</span>
  </div>
  <ul class="flex gap-6 items-center">
    <li
      class="flex gap-2 items-center px-2 py-1 border border-Success bg-Success/10 rounded-md
        cursor-pointer
      "
    >
      <lucide-icon name="presentation" size="16"></lucide-icon>
      <span class="font-dmSans">Projects</span>
    </li>
    <li
      class="flex gap-2 items-center cursor-pointer px-2 py-1 border hover:border-Success rounded-md"
    >
      <lucide-icon name="calendar" size="16"></lucide-icon>
      <span class="font-dmSans">Calendar</span>
    </li>
    <li
      class="flex gap-2 items-center cursor-pointer px-2 py-1 border hover:border-Success rounded-md"
    >
      <lucide-icon name="pin" size="16"></lucide-icon>
      <span class="font-dmSans">Pinned</span>
    </li>
    <li>
      <img src="profile.png" alt="icon"
           class="w-7 h-7 rounded-full cursor-pointer"
      >
    </li>
  </ul>
</div>
