<div class="flex items-center justify-between w-full">
  <lucide-icon name="panel-left" size="20" color="gray" [strokeWidth]="1.5"
               class="md:hidden hover:bg-gray-100 m-2 rounded cursor-pointer" (click)="showSideBar()"
  ></lucide-icon>
  <input
    class="flex-1 bg-gray-50 py-1 px-4 rounded-full border min-w-1 lg:max-w-96"
    type="text"
    placeholder="Search Project ..."
  >
  <div
    class="lg:block font-semibold text-sm bg-blue-200 px-4 py-1 rounded cursor-pointer hidden"
  >
    New Project
  </div>
</div>
