<div class="flex flex-col w-full">
  <div class="flex justify-between">
    <lucide-icon name="panel-left" size="20" color="gray" [strokeWidth]="1.5"
                 class="md:hidden hover:bg-gray-100 m-2 rounded cursor-pointer" (click)="showSideBar()"
    ></lucide-icon>
    <lucide-icon name="square-pen" size="20" color="gray" [strokeWidth]="1.5"
                 class="md:hidden hover:bg-gray-100 m-2 rounded cursor-pointer" (click)="showSideBar()"
    ></lucide-icon>
  </div>
  <div class="flex justify-between items-center gap-2">
    <input
      class="flex-1 bg-gray-50 py-1 px-4 rounded-full border min-w-1 md:max-w-96"
      type="text"
      placeholder="Search Project ..."
    >
    <div
      class="md:block font-semibold text-sm bg-blue-200 px-4 py-1 rounded cursor-pointer hidden"
      (click)="showDialog()"
    >
      New Project
    </div>
  </div>
</div>
