<div class="grid grid-rows-12 h-full w-full px-2">
  <div class="row-span-1 flex items-center justify-between ">
    <div [class]="isOpen ? 'font-bold px-2' : 'font-bold hidden'">FlowTask</div>
    <lucide-icon name="panel-left" size="25" [color]="isOpen ? 'gray':'black'" [strokeWidth]="2"
                  (click)="toggleSideBar()"
                 class=" hover:bg-gray-100 cursor-pointer p-1 rounded"
    ></lucide-icon>
  </div>
  <div class="row-span-10 overflow-auto">
    <div *ngFor="let menu of menuItems" class="mb-4">
      <div  (click)="openItem(menu)" class="flex justify-between items-center cursor-pointer hover:bg-gray-100 rounded px-2 py-1">
        <div class="flex gap-x-2 items-center">
          <lucide-icon name="{{menu.icon}}" size="17" [strokeWidth]="1.6"></lucide-icon>
          <span [class]="isOpen ? 'font-semibold text-xs':'hidden'">{{menu.name}}</span>
        </div>
      </div>
      <div *ngIf="menu.expanded" class="flex flex-col justify-center cursor-pointer gap-y-1">
        <div *ngFor="let item of menu.items"
             class="cursor-pointer hover:bg-gray-100 px-6 py-1 rounded text-sm font-normal"
        >{{item}}</div>
        <div class="text-xxs font-semibold px-6 text-gray-400">More +</div>
      </div>
    </div>
  </div>
  <div class="row-span-1">
    <div class="flex items-center gap-x-1 p-1 cursor-pointer hover:bg-gray-200 rounded">
      <div class="w-7 h-7 bg-gray-300 rounded-full"></div>
      <div [class]="isOpen?'flex flex-col':'hidden'">
        <div class="text-xs font-semibold">AYMH.1</div>
        <div class="text-xs font-thin">mahdaoui&commat;gmail.com</div>
      </div>
    </div>
  </div>
</div>
